<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <h2>Master</h2>
            <hr />
            <div hidden class="form-group">
                <label for="aID" class="control-label">ID</label>
                <input id="aID" value="0" class="form-control" />
            </div>
            <div class="form-group">
                <label for="areaName" class="control-label">Area Name</label>
                <input id="areaName" class="form-control" />
            </div>
            <div class="form-group">
                <label for="cityID" class="control-label">City ID</label>
                <input id="cityID" class="form-control" />
            </div>
            <div class="row">
                <button id="save" type="submit" class="btn btn-danger">Save</button>
                <br />
                <button id="update" type="submit" class="btn btn-danger">Update</button>
            </div>
        </div>
        <div class="col-sm-8">
            <h2>Records</h2>
            <table id="Details" class="table">
                <thead>
                    <tr><th>ID</th><th>CityName</th><th>Area Id</th><th></th></tr>
                </thead>
                <tbody></tbody>
            </table>




        </div>
    </div>

</div>
<script>
    $(document).ready(function () {

        $.ajax({
            method: "GET",
            dataType: "json",
            url: "https://localhost:7105/api/areas/GetAll",
            success: function (d) {
                a1 = "";
                $.each(d, function (i, item) {
                    a1 += `<tr><td>${d[i].aID}</td><td><input value="${d[i].areaName}" /></td><td><input value="${d[i].cityID}" /></td><td><button type='button' class="remove">Remove</button><button type='button' class="edit" onclick="edit('${d[i].aID}','${d[i].areaName}','${d[i].cityID}')">Select</button></td></tr>`;

                });

                $("#Details tbody").html(a1);
            }
        });

        edit = function (a, b, c) {
            //alert("OK")
            $("#aID").val(a);
            $("#areaName").val(b);
            $("#cityID").val(c);

        }






        $("#save").click(function (e) {
            e.preventDefault();

            var data = {
                "aID": $("#aID").val(),
                "areaName": $("#areaName").val(),
                "cityID": $("#cityID").val(),
            };
            console.log(JSON.stringify(data));

            $.ajax({
                method: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: "https://localhost:7105/api/areas/Add",
                data: JSON.stringify(data),
                success: function () {
                    window.location = "/Areas";
                }
            });
        });

        $("#update").click(function (e) {
            e.preventDefault();

            var data = {
                "aID": $("#aID").val(),
                "areaName": $("#areaName").val(),
                "cityID": $("#cityID").val(),
            };
            console.log(JSON.stringify(data));

            $.ajax({
                method: "PUT",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                url: `https://localhost:7105/api/areas/Update?id=${$("#aID").val()}`,
                data: JSON.stringify(data),
                success: function () {
                    window.location = "/Areas";
                }
            });
        });

        $(document).on("click", ".remove", function () {
            //alert($(this).parent().parent().html())
            var s = $(this).parent().parent().children(":first").html();
            var s2 = $(this).parent().parent();
            $.when(Delete(s)).then(function (response) {
                s2.remove();
            }).fail(function (err) {
                console.log(err);
            });

        });

        function Delete(a) {
            //console.log(`https://localhost:7105/api/areas/Delete?id=${a}`);
            return $.ajax({
                method: "POST",
                dataType: "json",
                url: `https://localhost:7105/api/areas/Delete?id=${a}`
            });
        }

    });

</script>
